<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/product">Productos</a>
            <a href="/add_product">Agregar</a>
        </nav>
    </header>

    <article>
        {% block article %}
        {% endblock %}
    </article>
</body>
</html>